{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container containerHeight">
        <h2>Ajouter un plat</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                {{ form (creerForm)}}
            </div>
             <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock %}
